* {
  box-sizing: border-box;
}

.declare-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.go-to-button { 
  
}

.status-selection-container {
  display: flex;
  justify-content: space-around;

} 

.status-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
}
