* {
  box-sizing: border-box;
}

h4 {
  display: flex;
  justify-content: center;
}

.go-to-button {
  
}

.status-selection-container {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;

} 
